/* From Uiverse.io by joe-watson-sbf */ 
.headingworkoutplans{
    margin-left: 620px;
    margin-top: 60px;
}

.flip-card {
    background-color: transparent;
    width: 700px;
    height: 254px;
    perspective: 1000px;
    font-family: sans-serif;
    margin-left: 400px;
    margin-top: 120px;
    
  }
  
  .title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid coral;
    border-radius: 1rem;
  }
  
  .flip-card-front {
    background: linear-gradient(120deg, rgb(8, 8, 8) 60%, rgb(6, 6, 6) 88%,
       rgb(8, 8, 8) 40%, rgba(3, 3, 3, 0.603) 48%);
    color: rgb(255, 251, 250);
  }
  
  .flip-card-back {
    background: linear-gradient(120deg, rgb(7, 7, 7) 30%, rgb(6, 6, 6) 88%,
       rgb(0, 0, 0) 40%, rgb(3, 3, 3) 78%);
    color: white;
    transform: rotateY(180deg);
  }


  /*fLIPCARD1*/
  /* From Uiverse.io by joe-watson-sbf */ 
.flip-card1 {
    background-color: transparent;
    width: 700px;
    height: 254px;
    perspective: 1000px;
    font-family: sans-serif;
    margin-left: 400px;
    margin-top: 100px;
    
  }
  
  .title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
  }
  
  .flip-card1-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card1:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card1-front, .flip-card1-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid coral;
    border-radius: 1rem;
  }
  
  .flip-card1-front {
    background: linear-gradient(120deg, rgb(8, 8, 8) 60%, rgb(6, 6, 6) 88%,
       rgb(8, 8, 8) 40%, rgba(3, 3, 3, 0.603) 48%);
    color: rgb(255, 251, 250);
  }
  
  .flip-card1-back {
    background: linear-gradient(120deg, rgb(7, 7, 7) 30%, rgb(6, 6, 6) 88%,
       rgb(0, 0, 0) 40%, rgb(3, 3, 3) 78%);
    color: white;
    transform: rotateY(180deg);
  }

.learnmorebutton{
  width: 100px;
  background-color: black;
  color: white;
  border-style: none;
  margin-left: 300px;
}